@import 'styles/null.scss'; // обнуление
@import 'styles/variables.scss'; // переменные
@import '@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css'; // шрифты
@import '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'; // отступы
@import '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'; // типография


html {
   display: table;
   width: 100%;
}

body {
   display: table-cell;
   font-family: 'Jet Brains Mono', 'Arial', serif;
   background-color: $bg-color;
   color: $text-color;
   padding: 20px 40px;
}

#root, body {
   height: inherit;
}

#root, .main {
   display: flex;
   flex-direction: column;
    > * {
       width: 100%;
    }
}

.wrapper {
   max-width: $wrapper;
   margin: 0 auto;
   box-sizing: content-box;
}

.main {
   flex: 1;
   box-sizing: border-box;
   padding: 0 20px;
}

.main-row {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 40px;
}

.scrollbar {
   scrollbar-color: #8585AD #2F2F37;
   scrollbar-width: thin;

   &::-webkit-scrollbar {
      width: 8px; /* ширина для вертикального скролла */
      background-color: #2F2F37;
      margin-right: -15px;
      position: absolute;
      right: 0;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #8585AD;
      height: 350px;
      width: 8px;
      margin-right: -15px;
   }
}
