.form {
   max-width: 480px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;

   h5 {
   text-align: center;
   }
}

.button {
   justify-self: center;
   width: fit-content;
}

a.link {
   margin-left: 8px;
   color: #4C4CFF;
}