._ {
   position: relative;
   text-align: center;
   cursor: pointer;
}

.image_container {
   display: flex;
   margin: 0 auto;
   max-width: 240px;
   height: 120px;
   width: 100%;
}

.image {
   max-width: 100%;
   max-height: 100%;
   margin: auto;
}

.name {
   min-height: 48px;
}